# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\develop-py\workspace\password_generator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
